.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
 }

 .center {
     position: sticky;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;  
 }

 .left {
    position: sticky;
    display: block;
    margin-left: ||;
    margin-right: auto;
    width: 50%;  
}

.jumbotron {
    margin: 30px;
}

.right {
    position: sticky;
    display: block;
    margin-left: auto;
    margin-right: ||;
    width: 50%;  
}

.gfont-2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: black;
    font-size: x-large;
}

.gfont-1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: black;
    font-size: x-large;
}

.marg {
    margin-left: 10px;
}
.box {
    width: 600px;
    height: 300px;
    padding: 50px;
    border: 5px gray;
    box sizing: border-box;
}